{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'chat_app/css/chatbot.css' %}"> <!-- CSS 연결 -->
    <title>챗봇 인터페이스</title>
</head>
<body>
    <!-- 헤더 -->
    <div class="header">
        <h1>챗봇 인터페이스</h1>
        <div class="nav-buttons">
            <button id="logout-button" class="btn btn-logout">Logout</button>
        </div>
    </div>

    <!-- 본문 -->
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
                <button id="toggle-chat-rooms" class="icon-button">
                    <img src="{% static 'images/chat-icon.png'%}">
                </button>
            </div>
            <div id="chat-rooms" class="chat-rooms">
                <button id="initial" class="btn"> 
            </div>
        </div>
        <!-- 채팅 컨테이너 -->
        <div class="chat-container">
            <div id="output-container" class="output-container">
                <div class="message bot-message">안녕하세요! 무엇을 도와드릴까요?</div>
                <div class="message user-message">이것은 초기 메시지입니다.</div>
            </div>
            <div class="input-group">
                <textarea id="input-message" placeholder="메시지를 입력하세요..." class="form-control"></textarea>
                <div class="input-group-append">
                    <button id="send-button" class="btn btn-send">전송</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'chat_app/js/chatbotEvent.js' %}"></script> <!-- JavaScript 연결 -->
</body>
</html>
